table.hide			{ width: 100%; border: solid 0px #ffffff; }

td.login-info-left		{ width: 33%; padding: 0px; text-align: left; }
td.login-info-middle	{ width: 33%; padding: 0px; text-align: center; }
td.login-info-right		{ width: 33%; padding: 0px; text-align: right; white-space: nowrap; }

pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

table.width100		{ width: 100%; border: solid 1px #000000; }

td.menu
{
	background-color: #e8e8e8;
	color: #000000;
	text-align: center;
	width: 100%;
	padding: 5px;
}

td  { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; padding: 4px; text-align: left; }

.nowrap
{
	white-space: nowrap;
}

form { display: inline; }
td.right			{ text-align: right; }

.hidden {
    display: none;
}

.scenarioFormContainer {
    float: left;
    margin: 10px;
    margin-top: 0px;
}

.container {
    width: 1040px;
}

.contentContainer {
    /*height: 520px;*/
}

.main-menu-wrapper {
    margin-top:15px;
}

.pointer {
    cursor: pointer;
}

.useCaseCardsContainer {
    width:100%;
}

.cardsContainer {
    margin: 40px;
    clear: both;
}

.testResult {
    height: 150px;
    width: 400px;
    float: left;
    margin: 10px;
    color: #000000;
    cursor: pointer;
    margin: 10px!important;
}

.testResultFail {
    background-color: lightcoral;
}

.testResultSuccess {
    background-color: lightgreen;
}

.testResultInconclusive {
    background-color: lightgoldenrodyellow;
}