.plans {
    width: 836px;
    margin: 50px auto;
    overflow: hidden;
}

.plan {
    float: left;
    width: 150px;
    margin: 20px 20px 20px 20px;
    padding: 15px 25px;
    text-align: center;
    background: white;
    background-clip: padding-box;
    border: 2px solid #e5ded6;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.plan-title {
    margin-bottom: 12px;
    font-size: 24px;
}

.plan-price {
    margin-bottom: 20px;
    line-height: 1;
    font-size: 28px;
    font-weight: bold;
}

.plan-unit {
    display: block;
    margin-top: 5px;
    font-size: 13px;
    font-weight: normal;
    color: #aaa;
}

.plan-features {
    width: 120px;
    margin: 20px auto 15px;
    padding: 15px 0 0 15px;
    border-top: 1px solid #e5ded6;
    text-align: center;
}

.plan-feature {
    line-height: 20px;
    font-size: 24px;
    font-weight: 500;
    color: #333;
}
.plan-feature + .plan-feature {
    margin-top: 5px;
}

.plan-feature-unit {
    margin-left: 2px;
    font-size: 16px;
}

.plan-feature-name {
    font-size: 13px;
    font-weight: normal;
    color: #aaa;
}

.plan a {
    color: white;
}

.plan a:hover {
    color: #000;
}

.plan a:active {
    color: black!important;
}

.plan-button a {
    color: white;
}

.plan-button a:hover {
    color: #000;
}

.plan-button a:active {
    color: black!important;
}

/*NORMAL*/

.plan-button {
    position: relative;
    display: block;
    line-height: 40px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background: #3996b3;
    border-color: #3996b3;
    border-color: rgba(0, 0, 0, 0.15);
}

.plan-highlight {
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 200px;
    border: 4px solid #3996b3;
}

.plan-recommended {
    width: 160px;
    margin: -15px auto 15px!important;;
    padding-bottom: 2px;
    line-height: 22px;
    font-size: 14px;
    font-weight: bold;
    color: white!important;
    text-shadow: 0 1px rgba(0, 0, 0, 0.05);
    background: #3996b3;
    border-radius: 0 0 4px 4px;
}

/*NORMAL*/

/*RED*/

.red-card .plan-button {
    position: relative;
    display: block;
    line-height: 40px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background: #c71c1c;
    border-color: #c71c1c;
    border-color: rgba(0, 0, 0, 0.15);
}

.red-card .plan-highlight {
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 200px;
    border: 4px solid #c71c1c;
}

.red-card .plan-recommended {
    width: 160px;
    margin: -15px auto 15px!important;;
    padding-bottom: 2px;
    line-height: 22px;
    font-size: 14px;
    font-weight: bold;
    color: white!important;
    text-shadow: 0 1px rgba(0, 0, 0, 0.05);
    background: #c71c1c;
    border-radius: 0 0 4px 4px;
}

/*RED*/

/*YELLOW*/

.yellow-card .plan-button {
    position: relative;
    display: block;
    line-height: 40px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background: #F1D031;
    border-color: #F1D031;
    border-color: rgba(0, 0, 0, 0.15);
}

.yellow-card .plan-highlight {
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 200px;
    border: 4px solid #F1D031;
}

.yellow-card .plan-recommended {
    width: 160px;
    margin: -15px auto 15px!important;;
    padding-bottom: 2px;
    line-height: 22px;
    font-size: 14px;
    font-weight: bold;
    color: white!important;
    text-shadow: 0 1px rgba(0, 0, 0, 0.05);
    background: #F1D031;
    border-radius: 0 0 4px 4px;
}

/*YELLOW*/

/*GREY*/

.grey-card .plan-button {
    position: relative;
    display: block;
    line-height: 40px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background: #ccc;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.15);
}

.grey-card .plan-highlight {
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 200px;
    border: 4px solid #ccc;
}

.grey-card .plan-recommended {
    width: 160px;
    margin: -15px auto 15px!important;;
    padding-bottom: 2px;
    line-height: 22px;
    font-size: 14px;
    font-weight: bold;
    color: white!important;
    text-shadow: 0 1px rgba(0, 0, 0, 0.05);
    background: #ccc;
    border-radius: 0 0 4px 4px;
}

/*GREY*/