<div ng-show="selectedTab('config')" ng-controller="ConfigController">
    <div class="tile-group no-margin no-padding clearfix" style="width: 100%">

        <div class="example">
            <form>
                <fieldset>
                    <legend>Plugin Configuration</legend>

                    <label>GIT Exe Path</label>
                    <div class="input-control text" data-role="input-control" id="configTab">
                        <input type="text" id="gitExePath" ng-model="gitExePath">
                        <button class="btn-clear" tabindex="-1"></button>
                    </div>

                    <!--<label>SVN Exe Path</label>
                    <div class="input-control text" data-role="input-control">
                        <input type="text" id="svnExePath" ng-model="svnExePath">
                        <button class="btn-clear" tabindex="-1"></button>
                    </div>-->

                    <br/>

                    <hr/>

                    <br/>
                    <input type="submit" value="Save Config" ng-click="savePluginConfig()" style="background-color: lightblue">
                </fieldset>
            </form>
        </div>

        <div class="example">
            <form>
                <fieldset>
                    <legend>Project Configuration</legend>

                    <label><b>VCS Type</b></label>
                    <br/>
                    <div>
                        <input type="radio" ng-model="vcsType" name="vcsType" value="GIT" checked="checked">&nbsp;GIT&nbsp;
                        <!--<input type="radio" ng-model="vcsType" name="vcsType" value="SVN">&nbsp;SVN&nbsp;-->
                        |&nbsp;
                        <input type="radio" ng-model="vcsLocation" name="vcsLocation" value="Remote">&nbsp;Remote&nbsp;
                        <input type="radio" ng-model="vcsLocation" name="vcsLocation" value="Local" checked="checked">&nbsp;Local
                    </div>

                    <hr/>

                    <label>VCS URL / Path</label>
                    <div class="input-control text" data-role="input-control">
                        <input type="text" id="vcsUrl" ng-model="vcsUrl">
                        <button class="btn-clear" tabindex="-1"></button>
                    </div>

                    <label>VCS User</label>
                    <div class="input-control text" data-role="input-control">
                        <input type="text" id="vcsUser" ng-model="vcsUser">
                        <button class="btn-clear" tabindex="-1"></button>
                    </div>

                    <label>VCS Password</label>
                    <div class="input-control text" data-role="input-control">
                        <input type="password" id="vcsPassword" ng-model="vcsPassword">
                        <button class="btn-clear" tabindex="-1"></button>
                    </div>

                    <hr/>

                    <label>Project Namespace</label>
                    <div class="input-control text" data-role="input-control">
                        <input type="text" id="projectNamespace" ng-model="projectNamespace">
                        <button class="btn-clear" tabindex="-1"></button>
                    </div>

                    <label>Project Features Folder Path</label>
                    <div class="input-control text" data-role="input-control">
                        <input type="text" id="projectFeaturesFolder" ng-model="projectFeaturesFolder">
                        <button class="btn-clear" tabindex="-1"></button>
                    </div>

                    <label>Project Steps Folder Path</label>
                    <div class="input-control text" data-role="input-control">
                        <input type="text" id="projectStepsFolder" ng-model="projectStepsFolder">
                        <button class="btn-clear" tabindex="-1"></button>
                    </div>

                    <br/>

                    <hr/>

                    <br/>
                    <input type="submit" value="Save Config" ng-click="saveProjectConfig()" style="background-color: lightblue">
                </fieldset>
            </form>
        </div>

    </div>
</div>