<div>

    <div class="divGherkinControls">

        <div class="divGherkinControl">
            <select id="gherkinType">
                <option>Given</option>
                <option>Then</option>
                <option>When</option>
                <option>And</option>
                <option>But</option>
            </select>

            <input type="text" style="width:80%" id="gherkinRule">
            <button class="removeGherkinControlButton" style="background-color: lightcoral">-</button>
        </div>

    </div>
    <button class="addGherkinControl">+</button>

</div>