<div class="example">
    <form>
        <fieldset>
            <legend>New Use Case</legend>

            <label>Feature Title</label>
            <div class="input-control text" data-role="input-control">
                <input type="text" id="featureTitle">
                <button class="btn-clear" tabindex="-1"></button>
            </div>

            <label>Feature Description</label>
            <div class="input-control text" data-role="input-control">
                <input type="text" id="featureDescription">
                <button class="btn-clear" tabindex="-1"></button>
            </div>

            <br/>
            <hr/>
            <label><b>Feature Priority</b></label>
            <br/>
            <div>
                <input type="radio" name="useCasePriority" value="Normal" checked="checked">Normal&nbsp;
                <input type="radio" name="useCasePriority" value="Important">Important&nbsp;
                <input type="radio" name="useCasePriority" value="Very Important">Very Important
            </div>

            <hr/>

            <label><b>This feature will be solved using...</b></label>
            <br/>
            <div class="clearfix">
                <!--<div class="tile bg-lightRed ol-transparent project-language project-language-java" title="Select if you project programming language is JAVA" data-title="JAVA" data-titlebar="true" data-style="qtip-light">
                    <div class="tile-content icon" ng-click="setUseCaseLanguage('Java')">
                        <span><img src="plugins/BddMantis/files/images/java_ico.png"></span>
                    </div>
                </div>-->
                <div class="tile bg-orange ol-transparent project-language project-language-csharp selected" title="Select if you project programming language is C#" data-title="C#" data-titlebar="true" data-style="qtip-light">
                    <div class="tile-content icon" ng-click="setUseCaseLanguage('CSharp')">
                        <span><img src="plugins/BddMantis/files/images/vs_ico.png"></span>
                    </div>
                </div>
            </div>

            <hr/>

            <scenario-creator-form></scenario-creator-form>

            <br/>
            <hr/>
            <input type="submit" style="background-color: lightblue" value="{{editMode ? 'Update Use Case' : 'Add Use Case'}}" ng-click="addOrEditUseCase()">&nbsp;
            <input type="submit" value="Cancel" ng-show="editMode" ng-click="cancelEditing()">&nbsp;
        </fieldset>
    </form>
</div>