<div ng-controller="ResultsSummaryController" id="resultsSummary">

    <div class="tile bg-green ol-transparent">
        <div class="tile-content icon">
            <center style="margin: 10px">
                <h1 style="color:white"><b>{{successNumber}}</b></h1>
                <b>Successful test(s)</b>
            </center>
        </div>
    </div>

    <div class="tile bg-red ol-transparent">
        <div class="tile-content icon">
            <center style="margin: 10px">
                <h1 style="color:white"><b>{{failNumber}}</b></h1>
                <b>Failed test(s)</b>
            </center>
        </div>
    </div>

    <div class="tile ol-transparent bg-yellow">
        <div class="tile-content icon">
            <center style="margin: 10px">
                <h1 style="color:white"><b>{{inconclusiveNumber}}</b></h1>
                <b>Inconclusive test(s)</b>
            </center>
        </div>
    </div>

    <div class="tile ol-transparent bg-grayDark">
        <div class="tile-content icon">
            <center style="margin: 10px">
                <h1 style="color:white"><b>{{unsentNumber}}</b></h1>
                <b>Unsent feature(s)</b>
            </center>
        </div>
    </div>

</div>