<div>

    <div class="divScenarioControls">

        <div class="divScenarioControl">
            <br/>
            <label><b>Scenario</b>&nbsp;<button class="removeGherkinScenarioButton" style="background-color: lightcoral">-</button></label>
            <div class="input-control text" data-role="input-control">
                <input type="text" name="scenarioDescription" id="scenarioDescription">
                <button class="btn-clear" tabindex="-1"></button>
            </div>

            <div class="input-control divScenarioGherkinControls" data-role="input-control">
                <gherkin-creator-form></gherkin-creator-form>
            </div>
        </div>

    </div>
    <br/>
    <button class="addScenarioControl" style="background-color: lightblue">Add Scenario</button>
</div>