<div ng-show="selectedTab('testResults')" ng-controller="TestResultsController" id="testResultsTab">
    <div>

        <table style="width: 100%!important; min-height: 400px!important">
            <tr style="background-color: #ccc; margin:10px; height:35px!important">
                <td>

                    <label><b>Filters:</b></label>

                    <input type="submit" value="All" ng-click="statusFilter = null" style="background-color: lightblue">
                    <input type="submit" value="Success" ng-click="statusFilter = {status: '1'}" style="background-color: lightgreen">
                    <input type="submit" value="Inconclusive" ng-click="statusFilter = {status: null}" style="background-color: lightgoldenrodyellow">
                    <input type="submit" value="Fail" ng-click="statusFilter = {status: '0'}" style="background-color: lightcoral">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="submit" value="Refresh" ng-click="getTestResults()">
                </td>
            </tr>
            <tr style="background-color: #efefef; margin:10px">
                <td valign="top">

                    <div ng-repeat="testResult in testResults | filter:statusFilter">
                        <div class="{{testResult.class}}">
                            <h2 style="margin: 10px">{{testResult.featureTitle}}</h2><br/>
                            <b style="margin: 10px">{{testResult.description}}</b><br/><br/>
                            <i style="margin: 10px">{{testResult.errorMessage}}</i>
                        </div>
                    </div>

                </td>
            </tr>
        </table>

    </div>
</div>