<div class="{{getCardClassByPriority(useCase.priority)}}">
    <div class="plan plan-highlight">
        <p class="plan-recommended">{{useCase.priority}}</p>
        <h3 class="plan-title">{{useCase.title}}</h3>
        <p class="plan-price">CREATED ON {{useCase.creationDate}}<span class="plan-unit"><b>status: </b>{{useCase.status}}</span></p>
        <p><span class="plan-unit"><b>language: </b>{{useCase.language}}</span></p>
        <ul class="plan-features">
            <b>{{useCase.scenarios.length}} scenarios</b>
        </ul>
        <a href="#" class="plan-button" onclick="return false;" ng-click="edit(useCase)">Edit</a>
        <br/>
        <a href="#" class="plan-button" onclick="return false;" ng-click="showContent(useCase.gherkin)">Gherkin</a>
        <br/>
        <a href="#" class="plan-button" onclick="return false;" ng-click="showContent(useCase.steps_definition)">Steps</a>
        <br/>
        <a href="#" class="plan-button" onclick="return false;" ng-click="removeUseCase(useCase)">Remove</a>
        <br/>
        <a href="#" class="plan-button" onclick="return false;" ng-click="addToVCS(useCase)">Send to VCS</a>
    </div>
</div>