<div ng-show="selectedTab('useCases')" ng-controller="UseCasesController" id="useCaseTab">

    <div class="tile-group no-margin no-padding clearfix" style="width: 100%">

        <div class="scenarioFormContainer" style="width: 99%">
            <new-use-case-form></new-use-case-form>
        </div>

        <div class="cardsContainer">
            <div class="useCaseCardsContainer" ng-repeat="useCase in useCases">
                <use-case-info-card></use-case-info-card>
            </div>
        </div>

    </div>

</div>